<section class="home_page">
    <div class="home-container">
      <div class="content">
        <h1 class="logo_block">
          <img src="assets/images/logo-snackbar.png" alt="Snackwyze" />
        </h1>
  

        
        <div class="url-input-container" *ngIf="!isLoading">
          <div class="input-wrapper">
            <span class="globe-icon">
              <mat-icon>language</mat-icon>
            </span>
            <input type="text" (keyup.enter)="onSubmit()" [(ngModel)]="urlInput" placeholder="Enter URL to continue">
          </div>
          <ngx-color-palette class="main_plate" [color]="color" [squared]="false" [position]="position" (currentColor)="currentColor($event)"></ngx-color-palette>
          <button class="submit-button" (click)="onSubmit()">
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
  
        <div class="loading-container" *ngIf="isLoading">
          <div class="loader"></div>
          <div class="progress-message">Uploading presentation images, please wait...</div>
  
          <div class="progress-status" *ngIf="uploading">
            <div class="progress-text">Uploading: {{ progress }}%</div>
            <div class="progress-bar-container">
              <div class="progress-bar-fill" [style.width.%]="progress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>